@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
}

#copyIcon {
    filter: invert(60%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}