{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
<div class="col-sm-3 mx-auto">
    <h1 class="mb-4">Change Password</h1>
    <form action="/admin/password" method="post">
        <div class="form-floating mb-4">
            <input autocomplete="off" autofocus class="form-control" id="old_pass" name="old_pass" placeholder="old_pass" type="password" required>
            <label for="floatingInput">Old password</label>
        </div>
        <div class="form-floating mb-4">
            <input autocomplete="off" class="form-control" id="new_pass" name="new_pass" placeholder="new_pass" type="password" required>
            <label for="floatingInput">New password</label>
        </div>
        <div class="form-floating mb-4">
            <input autocomplete="off" class="form-control" id="confirmation" name="confirmation" placeholder="confirmation" type="password" required>
            <label for="floatingInput">Re-enter new password</label>
        </div>
        <div class="form-floating mb-4">
            <input style="letter-spacing:7px" autocomplete="off" class="form-control" id="otpinput" name="otpinput" placeholder="otpinput" type="number" required>
            <label for="floatingInput">OTP token</label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}